@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-variant: small-caps;
}
body{
    background-color: #2f8a4a;
}
canvas#screen{
    width: 600px;
    height: 600px;
    transform: translate(-30%,20%);
    display: block;
    margin: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    border-radius: 30px;
    border: 10px solid #D48D3D;
    box-shadow: 0px 0px 15px #0000008c;
    background-color: #3B89F6;
}
input#icolor{
        
    display: block;
    background: url();
    
    width: 60px;
    height: 60px;
    border-image: none;
    border-style: none;
    border-radius: 30%;
    transform: translate(61vw, -15vh)

}
#playerColor{
    display: block;
    color: #fff;
    transform: translate(61vw, -15vh);


}
div#secondScreen{
    position: absolute;
    transform: translate(70vw,-60%);
    width: 480px;
    height: 600px;
    border-radius: 0px 0px 20px 20px;
    background-color: #b6844b;
    
}
div#secondScreen #playerScreen{
    width: 480px;
    height: 800px;
    
}
::-webkit-scrollbar{
    background-color: #1b1b1b;
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb{

    background-color: #92463e;

}
::-webkit-scrollbar-track{
    
    background-color: #92463e;
    height: 5px;

}
#players{
    overflow-y: scroll;
    list-style-type: none;
    height: 550px;
}

h1{
    text-align: center;
    font-size: 2.2em;
    text-decoration: underline;
    position: fixed;
    transform: translateY(-100%);
    margin-left: 0px;
    padding: 5px;
    width: 470px;
    background-color: #92463e;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 25px;
}
#players > p{
    width: 460px;
    text-align: center;
    text-indent: 15px;
    font-size: 1.4em;
    color: #fff;
    padding: 10px;
   
    
}
#players p strong{
    color: #1b1b1b;
}
p#playersOn{
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    width: 440px;
    border-radius: 10px;
    margin: auto;
}
.button_{
    display: none;
}
span.material-symbols-outlined{
    display: none;
}