@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #1b1b1b;
}
div#secondScreen{
    display: none;
}
input#icolor{
    border-radius: 50%;
}
canvas#screen{
    border: 10px solid rgb(107, 88, 88);
    background-color: #6d6262;
    width: 92vw;
    height: 45vh;
    display: block;
    margin: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}
div#pad{
   
    background-color: grey;
    height: 280px;
    border-radius: 30px;
    padding: 5px;
    transform: translateY(22%);
    box-shadow: 0px 0px 30px #000;
    
}
div#padButtons{

    margin-top: 30px;
    margin-left: 12vw;

}
div#positionY{
    

    position: absolute;
    display: inline-block;
    max-width: 150px;
    max-height: 280px;
    left: 25%;
    transform: translate(50%, -20%);
}
div#positionY input{
    background-color: rgba(58, 65, 68, 0.274);
    display: block;
    width: 100px;
    height: 100px;
    margin-top: 25px;
    border: none;
    border-radius: 35%;
    transition: filter 0.1s ease-in-out;
}
div#positionY input#y{

    margin-top: 80px;
}
div input:hover{

    filter: brightness(0.1);

}
div#positionX{
    position: absolute;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    
    margin-left: 3.2%;
    transform: translateY(60%);
}
div#positionX input{
    background-color: rgba(58, 65, 68, 0.274);
    
    width: 100px;
    height: 100px;
    
    border: none;
    border-radius: 35%;
}
div#positionX input#x{

    margin-right: 60px;
    
}
