@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #2f8a4a;
}

input#icolor{
    border-radius: 50%;
}
canvas#screen{
    border-radius: 20px;
    width: 82vw;
    height: 35vh;
    display: block;
    margin: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    border: 10px solid #D48D3D;
    box-shadow: 0px 0px 15px #0000008c;
    background-color: #3B89F6;
}
div#secondScreen{
    display: none;
    position: fixed;
    left: 50%;
    border-radius: 20px;
    background-color: #b6844bc7;
    padding: 10px;
    width: 270px;
    transform: translate(-50%,-40vh);
}
div#secondScreen #playerScreen{
    width: 270px;
    height: fit-content;
    
}
input#icolor{
        
        display: block;
        background: url();
        margin: auto;
        width: 30px;
        height: 30px;
        border-image: none;
        border-style: none;
        border-radius: 30%;
        transform: translateY(6vh)
    
}
#playerColor{
    color: #fff;
    display: block;
    text-align: center;
    font-size: 0.7em;
    transform: translateY(-2vh);
}
span.material-symbols-outlined{
    display: block;
    position: fixed;
    background-color: #000;
    margin-left: 10px;
    border-radius: 15px;
    padding: 5px;
    color: #fff;
    width: fit-content;
    height: fit-content;
    font-size: 1.9em;
}
#players{
    overflow-y: scroll;
    list-style-type: none;
    height: 200px;
    width: fit-content;
}

h1{
    text-align: center;
    font-size: 1em;
    text-decoration: underline;
    position: fixed;
    transform: translateY(-90%);
    margin-left: -10px;
    padding: 5px;
    width: 280px;
    background-color: #c21f0d;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 25px;
}
#players > p{
    width: 265px;
    text-align: left;
    background-color: #0000007a;
    color: #ffffff;
    font-size: 0.7em;
    font-weight: bolder;
    padding: 8px;
   
    
}
#players strong{
    text-align: right;
    padding-left: 3px;
    color: #dd2828;
}
p#playersOn{
    box-shadow: 0px 0px 10px #0000007c;
    text-align: center;
    font-size: 0.7em;
    margin-top: 15px;
    border-radius: 6px;
    width: 265px;
    font-weight: 700;
}

div#pad{
   
    
    height: 265px;
    border-radius: 30px;
    padding: 5px;
    transform: translateY(22%);
    background-color: #b6844b;
    box-shadow: 0px 0px 10px #00000088;
    
}
div#padButtons{

    margin-top: 30px;
    margin-left: 12vw;
    

}

div#positionY{
    

    position: absolute;
    display: inline-block;
    max-width: 150px;
    max-height: 280px;
    left: 50%;
    transform: translate(-50%, -12%);
}
div#positionY input{
    background-color:#c21f0d;
    box-shadow: 0px 0px 10px #00000054;
    display: block;
    width: 75px;
    height: 75px;
    margin-top: 25px;
    border: none;
    border-radius: 35%;
    transition: filter 0.1s ease-in-out;
}
div#positionY input#y{

    margin-top: 60px;
}
div input:hover{

    filter: brightness(0.1);

}
div#positionX{
    position: absolute;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    left: 33%;
    transform: translate(-25%,80%);
}
div#positionX input{
    background-color: #3B89F6;
    box-shadow: 0px 0px 10px #00000052;
    width: 75px;
    height: 75px;
    
    border: none;
    border-radius: 35%;
}
div#positionX input#x{

    margin-right: 85px;
    
}
