@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #2f8a4a;
}
canvas#screen{
    border: 10px solid #D48D3D;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #0000008c;
    background-color: #3B89F6;
    width: 92vw;
    height: 45vh;
    display: block;
    margin: auto;
    margin-top: 10px;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}
div#secondScreen{
    display: none;
    position: fixed;
    left: 50%;
    border-radius: 20px;
    background-color: #b6844bc7;
    padding: 10px;
    width: 310px;
    transform: translate(-50%,-40vh);
}
div#secondScreen #playerScreen{
    width: 310px;
    height: fit-content;
    
}
input#icolor{
        
    display: block;
    background: url();
    margin: auto;
    width: 40px;
    height: 40px;
    border-image: none;
    border-style: none;
    border-radius: 30%;
    transform: translateY(6vh)
    
}
#playerColor{
    color: #fff;
    text-align: center;
}
span.material-symbols-outlined{
    display: block;
    position: fixed;
    background-color: #000;
    margin-left: 10px;
    border-radius: 15px;
    padding: 5px;
    color: #fff;
    width: fit-content;
    height: fit-content;
    font-size: 2.4em;
}
#players{
    overflow-y: scroll;
    list-style-type: none;
    height: 250px;
    width: fit-content;
}

h1{
    text-align: center;
    font-size: 1.4em;
    text-decoration: underline;
    position: fixed;
    transform: translateY(-90%);
    margin-left: -10px;
    padding: 5px;
    width: 320px;
    background-color: #c21f0d;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 25px;
}
#players > p{
    width: 305px;
    text-align: left;
    background-color: #0000007a;
    font-size: 0.9em;
    font-weight: bolder;
    color: #ffffff;
    padding: 4px;
    margin-top: 12px;
   
    
}
#players strong{
    text-align: right;
    padding-left: 3px;
    color: #dd2828;
    font-weight: 700;
}
p#playersOn{
    box-shadow: 0px 0px 10px #0000007c;
    text-align: center;
    font-size: 1em;
    margin-top: 15px;
    border-radius: 6px;
    width: 310px;
    font-weight: 700;
}

div#pad{
   
    background-color: #b6844b;
    height: 255px;
    border-radius: 30px;
    padding: 5px;
    transform: translateY(38%);
    box-shadow: 0px 0px 10px #00000088;
    
}
div#padButtons{


    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    
    

}
div#positionY{
    

    position: absolute;
    display: inline-block;
    max-width: 150px;
    max-height: 280px;
    left: 50%;
    transform: translate(-50%, -20%);
}
div#positionY input{
    background-color:#c21f0d;
    display: block;
    width: 90px;
    height: 90px;
    margin-top: 25px;
    border: none;
    border-radius: 35%;
    box-shadow: 0px 0px 10px #00000054;
    transition: filter 0.1s ease-in-out;
}
div#positionY input#y{

    margin-top: 80px;
}
div input:hover{

    filter: brightness(0.1);

}
div#positionX{
    position: absolute;
    display: block;
    width: fit-content;
    height: fit-content;
    margin-left: 30%;
    transform: translate(-16%,60%);
    
}
div#positionX input{
    background-color: #3B89F6;
    box-shadow: 0px 0px 10px #00000052;
    width: 90px;
    height: 90px;
    
    border: none;
    border-radius: 35%;
}
div#positionX input#x{

    margin-right: 100px;
    
}
