@charset "UTF-8";
body{
    background-color: #1b1b1b;
}
canvas#screen{
    border: 10px solid rgb(107, 88, 88);
    background-color: #6d6262;
    width: 700px;
    height: 700px;
    transform: translateY(5vh);
    display: block;
    margin: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    
}

.button_{
    display: none;
}